#
# ReferrerCop Whitelist
#
# Use this file to match URLs that should always be considered nonspam.
# Entries in this file override entries in the blacklist.
#
# Examples:
#
# /(?:127\.0\.0\.1|localhost)/
# example.com
# google.com
# yahoo.com
#