#
# referrercop.conf - ReferrerCop configuration file.
#
# Syntax:
#   string:    '...' or "..."
#   integer:   5 or -5 (no quotes)
#   regexp:    /.../
#   hash:      { key => value, ... }
#   array:     [ value, ... ]
#   procedure: proc {|arglist| Ruby code }
#
# You guessed it; this file is Ruby, so you've gotta use Ruby syntax. But
# Ruby's a real friendly sort of language, so don't you worry. Just pay
# attention to the comments and you'll be fine.
#
# Credit where credit is due: the format of this file was inspired by that of
# pkgtools.conf, from the lovely pkgtools suite for FreeBSD (also written in
# Ruby).
#

module ReferrerCop; module Config # Don't remove this line.

  # BLACKLIST_FILE: string
  #
  # Blacklist file to use. The file may contain a list of domain names and URLs
  # (minus the http:// prefix). It may also contain regular expressions, which
  # must be delimited by front-slashes (i.e., /regex/).

  # BLACKLIST_FILE = '/usr/local/share/referrercop/blacklist.refcop'

  # WHITELIST_FILE: string
  #
  # Whitelist file to use. Optional. Format is the same as the blacklist file.

  # WHITELIST_FILE = '/usr/local/share/referrercop/whitelist.refcop'

  # CACHE_PATH: string
  #
  # Directory where compiled lists will be cached to speed up processing.

  # CACHE_PATH = '/tmp'

end; end # Don't remove this line.
